.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at center top, rgba(50, 205, 50, 0.5) 0%, rgba(4, 67, 24, 1) 70%);
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
}

.chatEmptyStateTitle {
    font-size: 4.25rem;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
    box-shadow: #b4f23d;
}

.chatEmptyStateSubtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-top: 2px;
}

.chatEmptyStateDescription {
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 20px;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    color: #ffffff;
}

.chatFooter {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }

    .chatEmptyStateSubtitle {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .chatEmptyStateDescription {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .chatFooter {
        padding: 5px;
        font-size: 0.9rem;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-height: calc(100vh - 239px);
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    color: #044318;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 87vh;
}

.chatSettingsSeparator {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.loadingLogo {
    font-size: 24px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    color: #ffffff;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}
